<div class="fixed-top">
	<div class="row">
	</div>

	<!-- https://getbootstrap.com/docs/4.0/examples/navbars/ -->
	<nav class="navbar navbar-expand navbar-dark bg-primary">
		<div class="collapse navbar-collapse" style="height: 40px;">
			<div class="ml-4 text-center" style="width: 50%;">
				<h1 class="text-light mr-4" style="font-weight:400;  margin-left: -22px; float: left;">Recipeasy!</h1>
				<div [formGroup]="languageForm">
					<select class="form-control" formControlName="language" #s
						style="width: 110px; height: 38px; margin-top: 9px;"
						(change)="changeLanguage(s.value)"
					>
						<option value="en">English</option>
						<option value="fr">Français</option>
					</select>
				</div>
			</div>
			<div style="width: 50%; height: 56px;">
				<div *ngIf="isLogged; else notConnected">
					<button type="button" class="btn btn-outline-light" (click)="logOut()" style="float: right; margin-top: 9px;">Log out</button>
				</div>
				<ng-template #notConnected>
					<button [routerLink]="['/login']" type="button" class="btn btn-outline-light" style="float: right; margin-top: 9px;">Log in</button>
				</ng-template>
				<a [routerLink]="['/recipes']" class="text-light mr-4" style="float: right; margin-top: 16px;">Recipes</a>

				<a [routerLink]="['/profile']" class="text-light mr-4" style="float: right; margin-top: 16px;">Profile</a>
			</div>
		</div>
	</nav>
</div>

<div class="pt-4" style="margin: 112px 0px 24px 0px;">
	<router-outlet></router-outlet>
</div>
