<div class="row" style="width: 80%; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
	<div class="col-lg-9 mx-auto">
		<div class="card border-0 shadow">
			<h1 class="center" style="font-weight:400; margin-top:-15px; padding: 5px; vertical-align: text-bottom; margin: 10px; text-align: center;">
				Edit a recipe
			</h1>
			<div class="container text-center" style="padding: 15px;">
				<form [formGroup]="recipeEditForm" (ngSubmit)="updateRecipe()">
					<div class="form-group">
						{{ authError }}
						<div class="radio">
							<select class="form-control"
								formControlName="category"
								[class.is-invalid]="recipeEditForm.get('category')?.dirty &&
								recipeEditForm.get('category')?.touched &&
								recipeEditForm.get('category')?.errors"
							>
								<option value="-1" disabled>Please choose a category for your recipe</option>
								<option value="0">Breakfast</option>
								<option value="1">Lunch</option>
								<option value="2">Dinner</option>
						</select>
						</div>
						<div class="invalid-feedback text-left">
							Please provide a valid category (numbers between 1 and 3 included).
						</div>
					</div>

					<div class="form-group">
						<input
						formControlName="name"
						type="text"
						placeholder="Name"
						class="form-control"
						[class.is-invalid]="recipeEditForm.get('name')?.dirty &&
							recipeEditForm.get('name')?.touched &&
							recipeEditForm.get('name')?.errors"
						>
						<div class="invalid-feedback text-left">
							Please provide a valid name.
						</div>
					</div>

					<div class="form-group">
						<input
						formControlName="description"
						type="text"
						placeholder="Description"
						class="form-control"
						[class.is-invalid]="recipeEditForm.get('description')?.dirty &&
							recipeEditForm.get('description')?.touched &&
							recipeEditForm.get('description')?.errors"
						>
						<div class="invalid-feedback text-left">
							Please provide a description.
						</div>
					</div>

					<button [disabled]="recipeEditForm.invalid"
						class="btn btn-success btn-block"
						type="submit"
						style="float: right; width: 47%; margin-top: 8px;">Submit edit</button>

					<a [routerLink]="['/recipes']"
						class="btn btn-outline-secondary btn-block"
						role="button"
						style="float: left; width: 47%;">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</div>
