<div *ngIf="currentUser == null; else connected" class="container">
	<div class="row">
		<div class="col-lg-9 mx-auto">
			<div class="card border-0 shadow">
				<div class="card-body p-10">
					<p>Please connect before creating recipes.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #connected>
	<div class="row" style="width: 80%; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
		<div class="col-lg-9 mx-auto">
			<div class="card border-0 shadow">
				<h1 class="center" style="font-weight:400; margin-top:-15px; padding: 5px; vertical-align: text-bottom; margin: 10px; text-align: center;">
					Create a new recipe
				</h1>
				<div class="container text-center" style="padding: 15px;">
					<form [formGroup]="recipeForm" (ngSubmit)="newRecipe()">
						<div class="form-group">
							<div *ngIf="authError" class="alert alert-danger" role="alert">
								{{ authError }}
							</div>
							<div class="radio">
								<select class="form-control"
									formControlName="category"
									[class.is-invalid]="recipeForm.get('category')?.dirty &&
									recipeForm.get('category')?.touched &&
									recipeForm.get('category')?.errors"
								>
									<option value="-1" disabled>Please choose a category for your recipe</option>
									<option value="0">Breakfast</option>
									<option value="1">Lunch</option>
									<option value="2">Dinner</option>
							</select>
							</div>
							<div class="invalid-feedback text-left">
								Please provide a valid category (numbers between 0 and 2 included).
							</div>
						</div>

						<div class="form-group">
							<input
							formControlName="name"
							type="text"
							placeholder="Name"
							class="form-control"
							[class.is-invalid]="recipeForm.get('name')?.dirty &&
								recipeForm.get('name')?.touched &&
								recipeForm.get('name')?.errors"
							>
							<div class="invalid-feedback text-left">
								Please provide a valid name.
							</div>
						</div>

						<div class="form-group">
							<input
							formControlName="description"
							type="text"
							placeholder="Description"
							class="form-control"
							[class.is-invalid]="recipeForm.get('description')?.dirty &&
								recipeForm.get('description')?.touched &&
								recipeForm.get('description')?.errors"
							>
							<div class="invalid-feedback text-left">
								Please provide a description.
							</div>
						</div>

						<button [disabled]="recipeForm.invalid"
							class="btn btn-success btn-block"
							type="submit"
							style="float: right; width: 47%; margin-top: 8px;">Create a new recipe</button>

						<a [routerLink]="['/recipes']"
							class="btn btn-outline-secondary btn-block"
							role="button"
							style="float: left; width: 47%;">Cancel</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</ng-template>
