<div class="mt-4" style="width: 80%; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
	<div *ngIf="(currentUser != null); else noShowRecipe">
		<br>
		<br>
		<app-recipes-list></app-recipes-list>
	</div>
	<ng-template #noShowRecipe>
		<div class="row">
			<div class="col-lg-9 mx-auto">
				<div class="card border-0 shadow">
					<div class="card-body p-10">
						<p>Please log in to view your recipes.</p>
						<button [routerLink]="['/login']" type="button" class="btn btn-outline-dark">Log in</button>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</div>
