<div class="row" style="width: 100%;">
	<div class="col-lg-9 mx-auto">
		<div class="card border-0 shadow">
			<div class="card-body p-10">
				<h1>User : {{ email }}</h1>
			</div>
		</div>
	</div>
</div>
