<div class="modal-header">
	<h4 class="modal-title pull-left">Development information</h4>
</div>
<div class="modal-body">
	<br>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">User</th>
				<th scope="col">Email</th>
				<th scope="col">Password</th>
				<th scope="col">Recipes</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>a@a</td>
				<td>aaa</td>
				<td>3 Base recipes</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>b@b</td>
				<td>bbb</td>
				<td>1 Base recipe</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>c@c</td>
				<td>ccc</td>
				<td>0 Base recipe</td>
			</tr>
		</tbody>
	</table>
	<br>
	<h5>Translated window</h5>
	<p>Recipes list ( url/recipes )</p>
</div>
