<div *ngIf="recipes; else noRecipes">
	<div class="row">
		<div class="col-lg-9 mx-auto">
			<div class="card border-0 shadow" >
				<div>
					<h1 class="center" style="font-weight:400; margin-top:-15px; padding: 5px; vertical-align: text-bottom; margin: 10px;">
						{{ title }}
						<button [routerLink]="['/recipe-new']" type="button" class="btn btn-primary" style="float: right; margin: 10px; margin-right: 0px;">
							{{ newBtn }}
						</button>
					</h1>
				</div>
				<div class="card-body p-10">
					<table class="table table-hover table-light rounded">
						<thead class="thead-light rounded">
							<tr>
								<th scope="col" width="150px">{{ catTHeader }}</th>
								<th scope="col" width="250px">{{ nameTHeader }}</th>
								<th scope="col" width="300px">{{ descTHeader }}</th>
							</tr>
						</thead>
						<tbody>
							<tr app-recipes-list-item *ngFor="let recipeLooped of recipes" [recipe]="recipeLooped" (recipeClicked)="onClickDel($event)" (recipeEditClicked)="onClickEdit($event)"></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #noRecipes>
	<div class="row">
		<div class="col-lg-9 mx-auto">
			<div class="card border-0 shadow">
				<div class="card-body p-10">
					<p>Create recipes before you can see them, baloney!</p>
					<button [routerLink]="['/recipe-new']" type="button" class="btn btn-primary" style="margin: 10px; margin-right: 0px;">
						New recipe
					</button>
				</div>
			</div>
		</div>
	</div>
</ng-template>
