<div class="col-lg-9 mx-auto">
	<div class="card border-0 shadow">
		<div class="card-body p-10">
			<h1 style="border: 1px solid rgb(255, 255, 255); width: fit-content; padding: 5px;">Successfully disconnected.</h1>
			<h4 style="border: 1px solid rgb(255, 255, 255); width: fit-content; padding: 5px;">You can close this window or <a href="/login">login</a> into another account.</h4>
		</div>
	</div>
</div>
