<div class="row" style="width: 80%; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
	<div class="col-lg-7 mx-auto">
		<div class="card border-0 shadow">
			<div class="container text-center" style="padding: 10px;">
				<!-- https://getbootstrap.com/docs/4.5/components/forms -->
				<form [formGroup]="loginForm" (ngSubmit)="logIn()">
					<div *ngIf="authError" class="alert alert-danger" role="alert">
						{{ authError }}
					</div>
					<div class="form-group">
						<input
						formControlName="email"
						type="email"
						placeholder="Email"
						class="form-control"
						[class.is-invalid]="loginForm.get('email')?.dirty && loginForm.get('email')?.touched && loginForm.get('email')?.invalid" >
						<div class="invalid-feedback text-left">
							Please provide a valid email.
						</div>
					</div>

					<div class="form-group">
						<input
						formControlName="password"
						type="password"
						placeholder="Password"
						class="form-control"
						[class.is-invalid]="loginForm.get('password')?.dirty && loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
						<div class="invalid-feedback text-left">
							Password is required and must be at least 3 characters long.
						</div>
					</div>

					<button [ngClass]="loginForm.invalid ? 'disabled' : ''" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

					<a [routerLink]="['/signup']" class="btn btn-outline-success btn-block mt-4" role="button">Sign up</a>
				</form>
				<br>

				<button type="button" class="btn btn-primary" (click)="openModal(template)">View dev info</button>
				<ng-template #template>
					<app-users-info-modal></app-users-info-modal>
				</ng-template>
			</div>
		</div>
	</div>
</div>
