<div class="col-lg-9 mx-auto">
	<div class="card border-0 shadow" style="width: 80%; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
		<div class="card-body p-10">
			<h1 class="page-header" style="text-align:center;">ERROR 404 - PAGE NOT FOUND</h1>
		</div>
	</div>
</div>
