<td>
	<label *ngIf="recipe.category == 0">
		Breakfast
	</label>
	<label *ngIf="recipe.category == 1">
		Lunch
	</label>
	<label *ngIf="recipe.category == 2">
		Dinner
	</label>
</td>
<td>
	{{ recipe.name }}
</td>
<td>
	{{ recipe.description }}
	<button (click)="delClick()" class="btn btn-danger btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="{{delBtn}}" style="float: right;">
		<fa-icon class="fas fa-trash" [icon]="faTrash"></fa-icon>
	</button>

	<button (click)="editClick()" class="btn btn-success btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="{{editBtn}}" style="float: right; margin-right: 5px;">
		<fa-icon class="fas fa-edit" [icon]="faEdit"></fa-icon>
	</button>
</td>
