<div *ngIf="(users.length > 1); else elseBlock" class="container">
	<div class="row" >
		<div class="col-lg-9 mx-auto">
			<div class="card border-0 shadow">
				<div>
					<h1 class="center" style="font-weight:400; margin-top:-15px; padding: 5px; vertical-align: text-bottom; margin: 10px; text-align: center;">
						Users
					</h1>
				</div>
	<div class="card-body p-10">
	<table class="table table-hover">
		<thead>
		  <tr>
			 <th scope="col">Email</th>
		  </tr>
		</thead>
		<tbody>
			<tr app-users-list-item *ngFor="let userLooped of users" [user]="userLooped" (userClicked)="userClicked($event)"></tr>
		</tbody>
	 </table>
</div>
</div>
</div>
</div>
</div>
<ng-template #elseBlock>
	<div class="col-lg-9 mx-auto">
		<div class="card border-0 shadow">
			<div class="card-body p-10">
				<p>You are lonelyyyyyy like a baloneyyyyyy</p>
			</div>
		</div>
	</div>
</ng-template>
