<div style="width: fit-content; text-align: center; float: right; margin-top: -70px; margin-right: 8px;">
	<div class="card border-0 shadow" style="padding: 10px;">
	<h1>Current user</h1>

	<!-- Affiche le currentUser en format JSON -->
	{{ currentUser | json }}
</div>
</div>
<div class="container">
	<div class="mt-4">
		<app-users-list></app-users-list>
	</div>
</div>
