<div class="row" style="width: 80%; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
	<div class="col-lg-7 mx-auto">
		<div class="card border-0 shadow">
			<div class="container text-center" style="padding: 10px;">
				<form [formGroup]="signupForm" (ngSubmit)="signUp()">
					<div class="form-group">
						<input
						formControlName="email"
						type="email"
						placeholder="Email"
						class="form-control"
						[class.is-invalid]="signupForm.get('email')?.dirty &&
							signupForm.get('email')?.touched &&
							signupForm.get('email')?.invalid"
						>
						<div class="invalid-feedback text-left">
							Please provide a valid email.
						</div>
					</div>

					<div class="form-group">
						<input
						formControlName="password"
						type="password"
						placeholder="Password"
						class="form-control"
						[class.is-invalid]="signupForm.get('password')?.dirty &&
							signupForm.get('password')?.touched &&
							signupForm.get('password')?.invalid"
						>
						<div class="invalid-feedback text-left">
							Password must be at least 3 characters long.
						</div>
					</div>

					<div class="form-group">
						<input
						formControlName="pwdConfirm"
						type="password"
						placeholder="Password confirmation"
						class="form-control"
						[class.is-invalid]="signupForm.errors?.passwordConfirmationMustMatch &&
							signupForm.get('pwdConfirm')?.dirty &&
							signupForm.get('pwdConfirm')?.touched"
						>
						<div class="invalid-feedback text-left">
							Passwords doesn't match.
						</div>
					</div>

					<button [disabled]="signupForm.invalid" class="btn btn-success btn-block" type="submit">Create my account</button>

					<a [routerLink]="['/login']" class="btn btn-outline-secondary btn-block mt-4" role="button">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</div>
