body {
	background-color: darkblue;
	background-image: url(https://wallpaperaccess.com/full/2882747.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom;
}

.layer {
	background-color: rgba(144, 144, 144, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
